@using RecSystem.ViewModels
@model RatedFilmsViewModel

@{
    ViewData["Title"] = "Scored";
}

<link href="~/css/MainPage.css" rel="stylesheet" type="text/css" />
<link href="~/css/scoredFilms.css" rel="stylesheet" type="text/css" />

<div class="content">
    @if (Model.IsVisibleTable)
    {
        @foreach (var item in Model.RatedFilmList)
        {
            <div class="movie_container">
                <div class="movie_image">
                    <a asp-controller="Film" asp-action="Details" asp-route-id="@item.Item.ID">
                        <img src="~/images/The_Neon_Demon.jpg" alt="movie_img" width="130" height="180">
                    </a>
                    <div class="scored_current_score">Your score: @Html.DisplayFor(modelItem => item.Score)</div>
                </div>
                <div class="movie_info">
                    <div class="movie_header">
                        <h2>
                            <a asp-controller="Film" asp-action="Details" asp-route-id="@item.Item.ID">
                                @Html.DisplayFor(modelItem => item.Item.MovieTitle)
                            </a>
                        </h2>
                    </div>
                    <div class="movie_extra_info">
                        <p>
                            @Html.DisplayFor(modelItem => item.Item.ReleaseDate)<br>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h3>@Model.MessageUser</h3>
    }
</div>