@using RecSystem.ViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Main";
}
<link href="~/css/MainPage.css" rel="stylesheet" type="text/css" />
<link href="~/css/Search.css" rel="stylesheet" type="text/css" />

<div class="search_wrapper">
    <div class="search_container">
        <form asp-controller="Main" asp-action="Index" id="search">
            <span>Enter a title:</span>
            <input class="search_input" type="text" name="SearchString">
            <input class="submit_button" type="submit" value="Search" />
        </form>
    </div>
</div>

<div class="content">

    @foreach (var m in Model.Items)
    {
        <div class="movie_container">
            <div class="movie_image">
                <a asp-controller="Film" asp-action="Details" asp-route-id="@m.ID">
                    <img src="~/images/The_Neon_Demon.jpg" alt="movie_img" width="130" height="180">
                </a>
            </div>
            <div class="movie_info">
                <div class="movie_header">
                    <h2>
                        <a asp-controller="Film" asp-action="Details" asp-route-id="@m.ID">@m.MovieTitle</a>
                    </h2>
                </div>
                <div class="movie_extra_info">
<<<<<<< HEAD
                    <p>
                        Release date: @m.ReleaseDate<br>
                    </p>
=======
                    @if (@m.ReleaseDate != null)
                    {
                        <p>
                            Release date: @m.ReleaseDate.Value.ToString("dd.MM.yyyy") <br>
                        </p>
                    }
>>>>>>> 4f8356b883e9c79d058e5a465d535cf7e03991b6
                </div>
            </div>
        </div>
    }
</div>

<div class="pagination">
    <div class="movie_pagin_up">
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)">
                <h3>
                    < Prev
                </h3>
            </a>
        }
    </div>
    <div class="movie_pagin_down">
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)">
                <h3>
                    Next >
                </h3>
            </a>
        }
    </div>
</div>



