@model RecSystem.ViewModels.FilmUserViewModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.MovieTitle);
}

<link href="~/css/SelectFilm.css" rel="stylesheet" type="text/css" />

<div class="content" style="justify-content:flex-start">
    <div class="movie_container">
        <div class="movie_image">
            <img src="~/images/The_Neon_Demon.jpg" alt="movie_img" width="200" height="280">
            <div class="current_score">Средняя оценка: @Html.DisplayFor(model => model.ScoreAverage)</div>
            <div class="current_score">Ваша оценка: @Html.DisplayFor(model => model.ScoreUser)</div>
            <div class="score">
                <form method="post" asp-action="AddScore">
                    <p>Оцените фильм:</p>
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.IdUser)
                    <input class="score_choice" type="radio" name="ScoreUser" value="1">1
                    <input class="score_choice" type="radio" name="ScoreUser" value="2">2
                    <input class="score_choice" type="radio" name="ScoreUser" value="3">3
                    <input class="score_choice" type="radio" name="ScoreUser" value="4">4
                    <input class="score_choice" type="radio" name="ScoreUser" value="5">5
                    <div>
                        <button class="submit_button" type="submit">Оценить</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="movie_info">
            <div class="movie_header"><h2>@Html.DisplayFor(model => model.MovieTitle)</h2></div>
            <div class="movie_extra_info">@Html.DisplayFor(model => model.ReleaseDate)</div>
            <div class="movie_description"> 
                <p>Описание:</p>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quaerat, reiciendis. 
                    Harum expedita libero temporibus atque suscipit maiores voluptatibus, illum molestias. Nesciunt unde, 
                    obcaecati itaque, enim nisi voluptatum quisquam laudantium!</span><span>Quos error qui quae, natus cumque! Blanditiis, 
                    quam, quasi impedit omnis voluptatibus vel, exercitationem soluta non et dolorum tenetur iste nemo ipsa laborum architecto 
                    dolor optio natus qui. Explicabo, quam?</span></p>
            </div>
        </div>
    </div>
</div>

